@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Noto Sans", sans-serif !important;
}
h1 {
  font-family: "Noto Sans", sans-serif;
}
h2 {
  margin: 30px 0 15px 0;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #13a3fd;
}
h3 {
  margin: 20px 0 8px 0;
  color: #3a3a3a;
  font-size: 25px;
  font-weight: 600;
}
p {
  font-weight: 500;
  color: #5b5d5c;
  line-height: 30px;
}
h1,
h2,
h3,
p {
  text-align: left;
}

ul {
  list-style: none;
}
li {
  color: #5b5d5c;
  font-size: 18px;
}

/* Nav */
.customNav {
  position: fixed;
  width: 100%;
  background-size: cover;
  background-color: #f8f8f8 !important;
  z-index: 10;
}
.navbar-brand {
  color: #3a3a3a !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 25px;
  font-weight: 700;
}
.navbar-brand span {
  color: #13a3fd;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-nav a {
  text-decoration: none;
  color: #8f8f8f !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 13px;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.navbar-nav a:hover {
  color: #3a3a3a !important;
}
.nav-item {
  margin: 0px 15px;
}
.nav-link {
  text-transform: uppercase;
  color: #ffffff !important;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

.navbar-toggler {
  padding: 2px !important;
}
.navbar-light .navbar-toggler {
  border: none !important;
}
/* end of nav */

/* Header */
header {
  width: 90%;
  padding: 150px 0 60px;
  margin: 0 auto;
  text-align: center;
}
header img {
  width: 90%;
  margin: 0 auto;
}
header h1 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-align: center;
  color: #3a3a3a;
  font-weight: 700;
  width: 95%;
}
header ul {
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header ul li span {
  color: #13a3fd;
  font-weight: 600;
}
#pic {
  width: 80%;
  text-align: center;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* Back top */
#topBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #1f1f24;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 6px;
  transition: all 0.3s ease-out;
}
#topBtn:hover {
  background: #13a3fd;
}

/* Case study */
.intro {
  text-align: center;
}
.studyCase {
  text-align: center;
}
.text-wrapper {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.intro img {
  width: 100%;
  margin: 20px auto 30px auto;
  padding: 0 10px;
}
#diagram:nth-child(1) {
  margin: 10px auto 16px auto;
}
#diagram:nth-child(2) {
  margin: 0px auto 40px auto;
}
#proBtn {
  margin-top: 15px;
  color: #ffffff;
  padding: 10px 40px;
  background-color: #1f1f24;
  border: 2px solid #1f1f24;
  border-radius: 6px;
}
#proBtn:hover {
  background-color: #13a3fd;
  border: 2px solid #13a3fd;
}
#phone {
  width: 30%;
  height: 100%;
}

/* Footer */
footer {
  padding: 30px;
  margin-top: 60px;
}
.icons a {
  text-decoration: none;
  color: #1f1f24;
}
.copy {
  font-weight: lighter;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #1f1f24;
}
.copy,
.icons {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
}
.icons i {
  font-size: 28px;
  display: inline;
  padding-top: 10px;
  padding: 0 5px;
  transition: all 0.3s ease-out;
}
.icons i:hover {
  color: #13a3fd;
}

@media only screen and (max-width: 991px) {
  h2 {
    font-size: 25px;
  }
  header {
    padding: 100px 0 0px 0;
  }

  .navbar-nav a {
    font-size: 15px;
  }
  .text-wrapper {
    padding: 0;
  }
  .nav-item {
    margin: 0;
    text-align: right;
  }
  h3 {
    font-size: 20px;
  }
  p {
    width: 100%;
  }
  header img {
    width: 100%;
  }
  header h1 {
    font-size: 25px;
  }
  #pic {
    width: 100%;
  }
  #phone {
    width: 50%;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    scroll-behavior: smooth;
  }
  header h1 {
    text-align: left;
  }
  header ul {
    display: block;
  }
  header ul li {
    text-align: left;
  }
  #proBtn {
    padding: 10px 20px;
  }
  .copy,
  .icons {
    text-align: left;
  }
}
