@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffffe;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif !important;
}
h1 {
  font-family: "Nunito", sans-serif;
}
h2 {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #094067;
}
p {
  font-weight: 500;
  color: #5f6c7b;
  line-height: 32px;
}

/* Nav */
.customNav {
  margin-top: 20px;
  width: 100%;
  background-size: cover;
  background-color: transparent !important;
  z-index: 10;
}
.navbar-brand {
  color: #094067 !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 25px;
  font-weight: 700;
}
.navbar-brand span {
  color: #13a3fd;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-nav a {
  text-decoration: none;
  color: #094067 !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 15px;
  font-weight: 700;
  transition: all 0.3s ease-out;
}
.navbar-nav a:hover {
  color: #13a3fd !important;
}
.nav-item {
  margin: 0px 15px;
}
.nav-link {
  text-transform: uppercase;
  color: #ffffff !important;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}
.navbar-toggler {
  padding: 2px !important;
}
.navbar-light .navbar-toggler {
  border: none !important;
}
/* end of nav */

/* Header */
header {
  width: 100%;
  height: 70vh;
  padding: 100px 0 60px;
  margin-bottom: 60px;
}
header img {
  width: 90%;
  height: 100%;
}
.intro-text {
  width: 75%;
}
.intro-text h1 {
  text-transform: uppercase;
  color: #094067;
  font-weight: 700;
  font-size: 35px;
  font-family: "Nunito", sans-serif;
  line-height: 48px;
  letter-spacing: 2px;
  margin: 0 auto;
}
.intro-text p {
  font-size: 20px;
  line-height: 36px;
  padding: 20px 0;
}
#download {
  padding: 10px 40px;
  color: #fffffe !important;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #13a3fd;
  border: 3px solid #13a3fd;
  border-radius: 100px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
#download:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* End of Header */

/* services */
.design-service {
  background-color: #d8eefe;
  width: 100%;
  height: 100%;
  padding: 4%;
}
.design-service .design-service-title {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #094067;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px;
}
.design-service .design-items {
  text-align: center;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-around;
}
.design-services .design-items .design-item {
  width: 100%;
}
.design-icon {
  margin-bottom: 25px;
}
.design-title {
  color: #5f6c7b;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
/* End of Services*/

/* Back top */
#topBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #ef4565;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 6px;
  transition: all 0.3s ease-out;
}

/* End of Back top */

/* Scroll
.down a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #1f1f24;
  letter-spacing: 2px;
  text-decoration: none;
  text-align: center;
}
.down a:hover {
  opacity: 0.5;
}
#section a {
  padding-top: 70px;
}

#section a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #1f1f24;
  border-bottom: 1px solid #1f1f24;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}   */

/* Work */
.workContainer {
  margin-top: 100px;
}
.work1-5 {
  margin-bottom: 100px;
}

.work1 {
  margin-bottom: 100px;
}

.work0 {
  margin-bottom: 100px;
}

#view {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  color: #094067;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
}
#view:hover {
  color: #13a3fd;
}
#line {
  width: 87px;
  border: 2px solid #13a3fd;
  margin-top: 5px;
}
.workPic {
  width: 100% !important;
  height: 100%;
}
.workContainer h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 60px;
}
.workContainer p {
  padding: 20px 0;
  width: 70%;
}
.button {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 10px 30px;
  border: 2px solid #1f1f24;
  border-radius: 6px;
}
a .button {
  text-decoration: none !important;
  color: #1f1f24;
  font-weight: 400;
}
a button:hover {
  background-color: #13a3fd;
  border: 2px solid #13a3fd;
  color: #ffffff;
}

.work2 {
  margin-bottom: 100px;
}

/* Footer */
footer {
  padding: 30px;
  margin-top: 60px;
}
.icons a {
  text-decoration: none;
  color: #094067;
}
.copy {
  font-weight: lighter;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #5f6c7b;
}
.copy,
.icons {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
}
.icons i {
  font-size: 28px;
  display: inline;
  padding-top: 10px;
  padding: 0 5px;
  transition: all 0.3s ease-out;
}
.icons i:hover {
  color: #13a3fd;
}

@media only screen and (max-width: 1024px) {
  header {
    height: 55vh;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    height: 80vh;
  }
}
@media only screen and (max-width: 991px) {
  .customNav {
    margin: 0;
  }
  .customNav h2 {
    font-size: 20px;
  }
  .nav-item {
    margin: 0;
    text-align: right;
  }
  #carouselExampleSlidesOnly {
    margin-top: 50px;
  }
  header {
    height: 1000px;
    margin-bottom: 50px;
  }
  header p {
    width: 100%;
    text-align: left;
    font-size: 25px;
  }
  .card-item {
    display: block;
    margin: 20px auto;
  }
  .workPic {
    margin: 16px auto 10px auto;
  }
  #NA {
    margin-top: 0px;
    padding: 10px 20px;
  }
  .button {
    margin-top: 0px;
    padding: 10px 20px;
  }
  .workContainer h1 {
    font-size: 25px;
  }
  .workContainer p {
    width: 75%;
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 850px;
    margin-bottom: 40px;
  }
  header img {
    width: 75%;
    height: 100%;
    margin: 30px auto 0 auto;
  }
  #carouselExampleSlidesOnly {
    margin-top: 30px;
  }
  #download {
    padding: 10px 20px;
    font-size: 14px;
  }
  .intro-text {
    width: 100%;
    margin: 0;
  }
  .intro-text h1 {
    font-size: 30px;
  }
  .intro-text p {
    font-size: 18px;
  }
  .design-service .design-items {
    text-align: center;
    display: block;
  }
  .design-service .design-service-title {
    font-size: 23px !important;
  }
  .design-title {
    font-size: 17px;
  }
  .workContainer h1 {
    font-size: 23px;
  }
  .design-item {
    margin-bottom: 30px;
  }
  .design-icon {
    margin-bottom: 10px;
  }
  .workContainer {
    margin-top: 50px;
  }
  .workContainer h1 {
    margin-bottom: 40px;
  }
  .workContainer p {
    padding: 8px 0;
    width: 100%;
  }
  .work1,
  .work0,
  .work1-5,
  .work2 {
    margin-bottom: 55px;
  }
  #view {
    font-size: 18px;
  }
  .copy,
  .icons {
    text-align: left;
  }
}
