@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8f8f8;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif !important;
}

/* Nav */
.customNav {
  width: 100%;
  max-height: 100%;
  background-size: cover;
  background-color: #13a3fd !important;
  z-index: 10;
}
.navbar-brand {
  color: #ffffff !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 25px;
  font-weight: 700;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-nav a:hover {
  opacity: 0.8;
}
.nav-item {
  margin: 0px 15px;
}
.nav-link {
  text-transform: uppercase;
  color: #ffffff !important;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
}

.navbar-toggler {
  padding: 2px !important;
}
.navbar-light .navbar-toggler {
  border: none !important;
}

/* Back top */
#topBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #1f1f24;
  color: #ffffff;
  border: none;
  cursor: pointer;
  z-index: 10;
  border-radius: 6px;
}
#topBtn:hover {
  background: #13a3fd;
}

/* about me */
.container:nth-child(3) {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
h1 {
  font-size: 32px;
  letter-spacing: 2px;
  padding: 100px 0 40px 0;
  text-align: center;
  line-height: 55px;
  font-family: "Nunito", sans-serif;
  color: #13a3fd;
  font-weight: 700;
  width: 95%;
  margin: 0 !important;
}
h2 {
  font-size: 25px;
  color: #1f1f24;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
#heroImg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
p {
  color: #1f1f24;
  font-weight: 500;
  line-height: 30px;
  display: block;
}

.exp ul {
  list-style: none;
  margin-bottom: 0 !important;
  padding-bottom: 15px;
}
.exp ul li {
  color: #1f1f24;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
#date {
  font-style: italic;
}
#name {
  font-weight: 700;
}

.info h2,
.info a {
  display: inline;
}
.info a {
  padding-left: 15px;
  font-size: 25px;
}

.contact h2,
.contact a {
  display: inline;
}
.contact a {
  padding-left: 15px;
  font-size: 25px;
}

/* Footer */
footer {
  padding: 30px;
  margin-top: 60px;
}
.icons a {
  text-decoration: none;
  color: #1f1f24;
}
.copy {
  font-weight: lighter;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  color: #1f1f24;
}
.copy,
.icons {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: block;
}
.icons i {
  font-size: 28px;
  display: inline;
  padding-top: 10px;
  padding: 0 5px;
}

@media only screen and (max-width: 991px) {
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  .nav-item {
    margin: 0;
    text-align: right;
  }
  .info h2,
  .info a {
    display: block;
  }
  .info a {
    font-size: 20px;
    padding: 0;
  }
  .contact h2,
  .contact a {
    display: block;
  }
  .contact a {
    font-size: 20px;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .copy,
  .icons {
    text-align: left;
  }
}
